:root {
    /* Palette temporanea: https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=e86530 */
    --primary: #e86630;
    --primary-light: #ff995d;
    --primary-dark: #af3600;

    --complementary: #30b1e8;

    --analogous-dark: #e83055;
    --analogous-light: #e8c330;

}

.footer {
    width: 94%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 1%;
    text-align: center;
    display: flex;
    bottom: 0;
    position: fixed;
}
#toValidate {
    width: 100%;
    text-align: center;
}

#menu {
    z-index: 1;
    background-color: var(--primary-light);
    width: 33%;
    height: 100vh;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .75s ease;
    overflow: hidden;
}

#menu>button {
    border: none;
    
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    margin: 0;
    padding-top: 10%;
}

html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

button {
    background-color: var(--primary);
    border-radius: 0;
    border-style:solid;
    /* aspect-ratio: 1/1; */
}

#close:hover {
    background-color: var(--primary-dark);
}

/* menu-btn from https://codepen.io/kaylolo/pen/KzLwmR */
.menu-btn {
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .35s ease;
    cursor: pointer;
}
.menu-btn>button {
    height: 30%;
    background: transparent;
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    position: relative;
    display: block;
    width: 50%;
    cursor: pointer;
    color: inherit;
    font-size: 0;
    transition: 0.35s;
}
.menu-btn>button::before , .menu-btn>button::after{
    position: absolute;
    left: 49%;
    display: block;
    width: 100%;
    height: 1px;
    background: currentColor;
    content: "";
    transition: transform 0.35s;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0% 0%;
}
.menu-btn:hover{
    background-color: var(--primary);
}
.menu-btn:hover>button {
    border-color: transparent;
}
.menu-btn:hover>button::after {
    transform: translate(-50%, -50%) rotate(-30deg) scaleX(0.9);
    color: white;
}
.menu-btn:hover>button::before {
    transform: translate(-50%, -50%) rotate(30deg) scaleX(0.9);
    color: white;
}

.hidden {
    display: none;
}

#toolbar {
    /* flexbox guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#app {
    margin-left: 5%;
    transition: margin .75s ease;
    height: 100vh;
    width: 100vw;
}

@media screen and (orientation: portrait) {
    /* Responsiveness */
    #menu {
        width: 100%;
    }

    #toolbar {
        width: 100%;
        height: 5%;
        flex-direction: row;
    }
  }
