.logo{
    margin-left:auto;
    margin-right:auto;
    width:10vw;
    display: block;
}

body{
    background-color: #ddd5d5; /*white-ish*/
}

h2{
    margin-left:auto;
    margin-right:auto;
    display: block;
    text-align: center;
}

a{
    text-decoration: none;
    color: #822433; /* <3 */
}

.material-icons{
    color: #822433; /* <3 */
}