@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
/* colors: */
  --white: #f7f9fa;
  --white-ish: #d7d7d9;

  --black: #0c0c0d;
  --black-ish: #2a2e35;

  --indigo: #2c3e50;

  --rosso-sapienza: #822433; /* <3 */

  --vt-c-text-light-1: var(--black-ish);
  --vt-c-text-light-2: rgba(60, 60, 60, 1);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 1);


/* palette: */
  --main: var(--rosso-sapienza) ;

  --complement: #35799c;

  --fast-animation: 0.35s;
  --normal-animation: 0.75s;   
}

/* semantic color variables for this project */
:root {
  --call-to-action: var(--rosso-sapienza);
  --secondary: var(--complement);
  --primary-dark: var(--white-ish);
  --primary-light: var(--white);

  --background: var(--primary-light);
  --background-alternative: var(--primary-dark);

  
  --color-grid: var(--primary-dark);
  
  --color-text: var(--black-ish);
  --accent: var(--call-to-action);
}

@media (prefers-color-scheme: dark) {
  :root {
    --call-to-action: var(--rosso-sapienza);
    --secondary: var(--complement);
    --primary-dark: var(--black);
    --primary-light: var(--black-ish);
  
    --background: var(--primary-dark);
    --background-alternative: var(--primary-light);
  
    --color-grid: var(--primary-light);
  
    --color-text: var(--white-ish);
  
    --accent: var(--call-to-action);
  } 
}

*,
*::before,
*::after {

  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  color: var(--color-text);
  accent-color: var(--accent);
  font-family: 'Open Sans',Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; 
}

*::selection {
  background-color: var(--accent);
  color: var(--background);
}

body {
  color: var(--color-text);
  background: var(--background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Open Sans',Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: var(--accent);
  transition: color var(--fast-animation) ease;
}

a {
    color: var(--secondary);
}

input[type="text"] {
  background-color: var(--background);
  border: solid;
  border-color: var(--background);
  border-radius: 3px;
  width: 10em;

} 

h1,h2,h3,h4,h5,h6 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


body, html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*Toggle library*/
@import '@vueform/toggle/themes/default.css';
.toggle {
  --toggle-bg-on: var(--accent);
  --toggle-bg-off: var(--background);
  --toggle-text-on: var(--color-text);
  --toggle-text-off: var(--color-text);
  --toggle-handle-enabled: var(--background-alternative);
  --toggle-ring-color: transparent;
  --toggle-border-on: var(--accent);
  --toggle-border-off: var(--background);
  --toggle-duration: 250ms;
  --toggle-font-size: 1rem;
  --toggle-height: 1.5rem;
  --toggle-width: 4rem;
  --toggle-border: .2rem;
  font-family: 'Courier New', Courier, monospace;
}

  .toast>.body {
    /* opacity: 0.8; */
    color: var(--color-text);
    border-radius: 5px;
    border-style: solid;
    text-align: center;
    transform: translateY(-10vh);
  }
  .toast>.body.info{
    background-color: var(--background);
    border-color: var(--background);
  } 
  .toast>.body.warning{
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--white);

  }

  .toast>.body.done {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--white);

  }
  @media screen and (orientation: portrait) {
    .toast>.body {
      transform: translateY(-20vh);
    }
  }