:root {
/* colors: */
  --white: #fbfaf5;
  --white-ish: #ddd5d5;

  --black: #181818;
  --black-ish: #252c2c;

  --indigo: #2c3e50;

  --rosso-sapienza: #822433; /* <3 */

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);


/* palette: */
  --main: var(--rosso-sapienza) ;

  --complement: #248273;

  --fast-animation: 0.35s;
  --normal-animation: 0.75s;   
}

/* semantic color variables for this project */
:root {
  --call-to-action: var(--rosso-sapienza);
  --secondary: var(--complement);
  --primary-dark: var(--black);
  --primary-light: var(--black-ish);

  --background: var(--primary-dark);
  --background-alternative: var(--primary-light);

  --color-grid: var(--primary-light);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);

  --accent: var(--call-to-action);
}

@media (prefers-color-scheme: light) {
  :root {
  --call-to-action: var(--rosso-sapienza);
  --secondary: var(--complement);
  --primary-dark: var(--white-ish);
  --primary-light: var(--white);

  --background: var(--primary-light);
  --background-alternative: var(--primary-dark);

  
  --color-grid: var(--primary-dark);
  
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  
  --accent: var(--call-to-action);
  } 
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  color: var(--color-text);
  accent-color: var(--accent);

}

*::selection {
  background-color: var(--accent);
  color: var(--background);
}

body {
  color: var(--color-text);
  background: var(--background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: var(--secondary);
}

a {
    color: var(--accent);
}

body, html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}